* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.popular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0; }

.post {
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.5s linear;
  transition: -webkit-filter 0.5s linear;
  transition: filter 0.5s linear;
  transition: filter 0.5s linear, -webkit-filter 0.5s linear;
  margin-top: -4px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%); }
  .post:hover {
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%); }
  .post img {
    width: 100%; }

.hashtag-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none; }

.hashtag {
  color: white;
  font-size: 35px;
  font-weight: 100; }
