* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }
  @media screen and (max-width: 800px) {
    html {
      font-size: 7px; } }

.mo-popular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0; }

.mo-post {
  -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
          flex-basis: 400px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.5s linear;
  transition: -webkit-filter 0.5s linear;
  transition: filter 0.5s linear;
  transition: filter 0.5s linear, -webkit-filter 0.5s linear;
  margin-top: -4px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%); }
  @media screen and (max-width: 800px) {
    .mo-post {
      -webkit-flex-basis: 100px;
          -ms-flex-preferred-size: 100px;
              flex-basis: 100px;
      margin-top: -4px; } }
  .mo-post:hover {
    -webkit-filter: brightness(100%);
            filter: brightness(100%); }
  .mo-post img {
    width: 100%; }

.mo-homepage-container {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 800px) {
    .mo-homepage-container {
      position: inherit;
      width: 100%;
      height: inherit; } }

.mo-homepage-panel {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  background: #F9EBD1;
  padding: 1rem;
  border: 1rem solid #FFF;
  border-bottom: none; }
  @media screen and (max-width: 800px) {
    .mo-homepage-panel {
      width: 100%;
      border: none; } }

.mo-homepage-panel-header {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.mo-homepage-logo {
  max-width: 140px; }

.mo-social-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.mo-social {
  padding: 10px;
  font-size: 2.5rem;
  opacity: 0.5;
  color: #3d3c37; }
  .mo-social:hover {
    opacity: 1; }

.mo-homepage-hours-container {
  width: 290px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 800px) {
    .mo-homepage-hours-container {
      width: 190px; } }

.mo-homepage-hours-table {
  margin-bottom: 2rem;
  width: 100%;
  text-transform: uppercase; }

.mo-table-header {
  width: 100%;
  text-align: center; }

.mo-homepage-hours-row {
  color: #6c675d;
  line-height: 3rem; }

.mo-homepage-hours-time {
  text-align: right; }

.mo-homepage-bus-illustration {
  width: 80%; }

.mo-hashtag-banner {
  width: 450px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: #6c675d; }
  @media screen and (max-width: 800px) {
    .mo-hashtag-banner {
      width: 100%; } }
