* {
  box-sizing: border-box;
}

html {
  font-size: 10px;


  @media screen and (max-width: 800px) {
    font-size: 7px;
  }
}

.mo-popular {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

.mo-post {
  flex-basis: 400px;
  flex-grow: 1;
  overflow: hidden;
  transition: filter 0.5s linear;
  margin-top: -4px;
  filter: brightness(90%);

  @media screen and (max-width: 800px) {
    flex-basis: 100px;
  }

  &:hover {
    filter: brightness(100%);
  }

  img {
    width: 100%;
  }
}

.mo-hashtag-container {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
}

.mo-homepage-panel {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  background: #F9EBD1;
  padding: 1rem;
  border: 1rem solid #FFF;

  @media screen and (max-width: 800px) {
    width: 350px;
  }
}

.mo-homepage-panel-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mo-homepage-logo {
  max-width: 140px;
}

.mo-social-container {
  display: flex;
}

.mo-social {
  padding: 10px;
  font-size: 2.5rem;
  opacity: 0.5;
  color: #3d3c37;

  &:hover {
    opacity: 1;
  }
}

.mo-homepage-hours-container {
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 190px;
  }
}

.mo-homepage-hours-table {
  margin-bottom: 2rem;
  width: 100%;
  text-transform: uppercase;
}

.mo-table-header {
  width: 100%;
  text-align: center;
}

.mo-homepage-hours-row {
  color: #6c675d;
  line-height: 3rem;
}

.mo-homepage-hours-time {
  text-align: right;
}

.mo-homepage-bus-illustration {
  width: 80%;
}
