// Layouts
.mo-section {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

  @include mobile() {
    min-height: 80vh;
  }
}

.mo-hero-banner {
  display: flex;
  flex-direction: column;
}

.mo-section--outlets {
  display: flex;
  flex-wrap: wrap;
  @include mobile() {
    flex-direction: column;
  }
}

.mo-logo {
  width: 20rem;
}

.mo-footer {
  background-color: lighten($mo-brand, 5);
  color: $mo-text;
  padding: 5rem;
}

.mo-footer__right {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile() {
    justify-content: flex-start;;
  }
}

.mo-container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;

  @include mobile() {
    flex-direction: column;
  }
}

.mo-footer__logo {
  width: 10rem;
}

.mo-footer__description {
  font-size: 1.6rem;
  max-width: 50rem;
  line-height: 1.5;
  opacity: 0.5;
  margin-bottom: 3rem;
}
